#image{
    max-width: 100%;
    height: auto;
    display: block;
  }
#main {
    
    background-color: rgb(165, 190, 223);
}
#tiltle{
    text-align: center;
}
#img-div{
    background-color: aquamarine;
}